* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background-color: gray;
    color: whitesmoke;
}
#intro {
    font-size: 125%;
    margin-bottom: 20px;
}

#questionHeader {
    font-size: 150%;
    width: 50vw;
}

#optionOne, #optionTwo, #optionThree, #optionFour {
    background-color: bisque;
    font-size: 125%;
    width: 50vw;
    margin: 10px;
    padding: 10px;
}

#optionOne:hover, #optionTwo:hover, #optionThree:hover, #optionFour:hover {
    font-size: 135%;
    cursor: pointer;
}

#praise {
    font-size: 150%;
    margin: 10px;
    padding: 10px;
}

#countdown {
    font-size: 150%;
    font-weight: bold;
}

@media screen and (max-width: 576px) {
    #questionHeader {
        font-size: 150%;
        width: 100vw;
    }
    
    #optionOne, #optionTwo, #optionThree, #optionFour {
        background-color: bisque;
        font-size: 125%;
        width: 80vw;
        margin: 10px;
        padding: 10px;
    }
    
}